CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Pasta do cmake
/cmake-build-debug
/cmake-build-default
/build

# Pasta do VSCode
/.vscode

# Pasta de Logs
/logs

#Pasta clion
/.idea

/data

# Files genereated by contract.proto
contract_pb2.py
contract_pb2_grpc.py
contract_pb2.pyi
